.crypto-container {
    display: flex;
    justify-content: center;
}

.crypto-row {
    display: flex;
    flex-direction: row;
    justify-items: start;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid #d7d7d7;
    width: 1200px;
}

.crypto {
    display: flex;
    align-items: center;
    padding-right: 24px;
    min-width: 350px;
}

.crypto h1 {
    font-size: 16px;
    width: 300px;
}

.crypto img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.crypto-symbol {
    text-transform: uppercase;
}

.crypto-data {
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 100%;
}

.crypto-price {
    width: 350px;
}

.crypto-volume {
    width: 280px;
}

.crypto-btc {
    width: 250px;
}